<configuration xmlns:x="http://www.sitecore.net/xmlconfig/">
	<sitecore> 
		<search>
			<configuration>
				<indexes>
					<index id="class_ad_search" type="Sitecore.Search.Index, Sitecore.Kernel">
						<param desc="name">$(id)</param>
						<param desc="folder">advanced</param>
						<Analyzer ref="search/analyzer"/>
						<locations hint="list:AddCrawler">
							<master type="Sitecore.Search.Crawlers.DatabaseCrawler, Sitecore.Kernel">
							<Database>web</Database>
							<Root>/sitecore/content/Common/Intranet Classifieds</Root>
							<IndexAllFields>true</IndexAllFields>
						</locations>
					</index>
				</indexes>			
			</configuration>
		</search>
	</sitecore>
</configuration>
  
